<div class="container">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <div class="row" *ngIf="serviceDown">
    <div class="col-md-12">
      <div class="card mt-4">
        <div class="card-body">
          <h3>
            Quiz service down. Please try again later. Sorry : - (
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!serviceDown">
    <div class="col-md-4">
      <button (click)="addNewQuiz()" class="btn btn-outline-primary mt-4">
        Add New Quiz
      </button>
      <button class="btn btn-sm btn-link mt-4" (click)="promisesOne()">JS Promise 1</button>
      <button class="btn btn-sm btn-link mt-4" (click)="promiseTwo()">2</button>
      <button class="btn btn-sm btn-link mt-4" (click)="promiseThree()">3</button>
      <div class="list-group mt-4">
        <a [class.active]="q === selectedQuiz" (click)="selectQuiz(q)" href="#" *ngFor="let q of quizzes"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          {{ q.name }}
          <span class="badge badge-secondary" [class.bg-danger]="q.questions.length === 0">
            {{ q.questions.length }}
          </span>
        </a>
      </div>
    </div>
    <div class="col-md-8" *ngIf="!selectedQuiz">
      <div class="card mt-4">
        <div class="card-body">
          Select or add a new quiz...
        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="selectedQuiz">
      <button class="btn btn-outline-success mt-4">Save</button>
      <button class="btn btn-link mt-4">Cancel</button>
      <br />
      <br />
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="General">
          <ng-template ngbPanelContent>
            <input type="text" [(ngModel)]="selectedQuiz.name" class="form-control">
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Quiz Description">
          <ng-template ngbPanelContent>
            <textarea [(ngModel)]="selectedQuiz.quizDesc" class="form-control" rows="3"
              placeholder="Enter Quiz Short Description"></textarea>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="card mt-4">
        <div class="card-header">
          Questions
        </div>
        <div class="card-body">
          <button (click)="addNewQuestion()" class="btn btn-outline-primary">Add New Question</button>
          <br /><br />
          <div class="mt-4" *ngIf="selectedQuiz.questions.length > 0">
            Overall Difficulty<br />
            <ngb-progressbar type="info" [value]="averageDifficulty(selectedQuiz)" height="30px" [max]="10"
              [striped]="true" [animated]="true"><b>{{averageDifficulty(selectedQuiz)}} of 10</b></ngb-progressbar>
          </div>
          <br />
          <div class="row"
            *ngFor="let q of selectedQuiz.questions | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
            <div class="col-md-5 mt-2">
              Question #{{ ((page - 1) * pageSize) + (i + 1) }}<br />
              <input style="clear:both;" type="text" [(ngModel)]="q.name" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              Difficulty Rating<br />
              <ngb-rating [(rate)]="q.rating"></ngb-rating> | {{q.rating}}/10
            </div>
            <div class="col-md-3 mt-3">
              <button class="btn btn-outline-danger" (click)="deleteQuestion(q)">Remove</button>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-4" *ngIf="selectedQuiz.questions.length > 0">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="selectedQuiz.questions.length">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          Other
        </div>
        <div class="card-body">
          <button class="btn btn-outline-danger" (click)="deleteQuiz(selectedQuiz)">Delete This Quiz</button>
          <br /><br />
          <label>Quiz Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="selectedQuiz.quizDate"
              ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <label class="mt-4">Quiz Time</label>
          <div class="input-group">
            <div class="input-group-append">
              <ngb-timepicker [(ngModel)]="selectedQuiz.quizTime" [meridian]="meridian"></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>