<div class="container">
  <div class="row" *ngIf="serviceDown">
    <div class="col-md-12">
      <br>
      <div class="card">
          <div class="card-body">
            <h3>
                Quiz service down. Please try again later. Sorry : - (
            </h3>
          </div>
      </div>      
    </div>
  </div>
  <div class="row" *ngIf="!serviceDown">
    <div class="col-md-4">
      <br>
      <button 
        (click)="addNewQuiz()"
        class="btn btn-outline-primary"
        >
          Add New Quiz
      </button>

      <button class="btn btn-sm btn-link" (click)="promisesOne()">js promise 1</button>
      <button class="btn btn-sm btn-link" (click)="promiseTwo()">2</button>
      <button class="btn btn-sm btn-link" (click)="promiseThree()">3</button> 


      <br>
      <br>
      <div class="list-group">
        <a
          [class.active] = "q === selectedQuiz"
          (click)="selectQuiz(q)" 
          href="#"
          *ngFor="let q of quizzes" 
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          {{ q.name }}
          <span 
            class="badge badge-secondary"
            [class.bg-danger]="q.questions.length === 0"
          >
            {{ q.questions.length }}
          </span>
        </a>

      </div>


    </div>
    <div class="col-md-8" *ngIf="!selectedQuiz">
      <br>
      <div class="card">
        <div class="card-body">
          Select or add a new quiz...
        </div>
      </div>
    </div>



    <div class="col-md-8" *ngIf="selectedQuiz">
      <br>
      <button class="btn btn-outline-success">Save</button>
      <button class="btn btn-link">Cancel</button>
      <br>
      <br>


      <div class="card">  
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          <input 
            type="text" 
            [(ngModel)]="selectedQuiz.name"
            class="form-control">
            <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-primary calendar" (click)="d.toggle()" type="button">Select Date</button>
                    </div>
                  </div>
                </div>
              </form>
        </div>
      </div>



      <br>
      <div class="card">
        <div class="card-header">
          Questions
        </div>
        <div class="card-body">

          <button 
          class="btn btn-outline-danger"
          (click) = "addNewQuestion()"
          > 
            add new stuff
          </button>
          <br ><br >
          
          <p *ngIf="selectedQuiz.questions.length !== 0">
            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample">
              Views Questions (Toggle)
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card">
              <div class="card-body">
                <div class="row" *ngFor="let question of selectedQuiz.questions">

                  <div class="col-md-9">
                    <input 
                    type="text" 
                    [(ngModel)] = "question.name">
                  </div>
      
                  <div class="col-md-3">
                    <button 
                    class="btn btn-link text-danger"
                    (click) = "removeQuestion(question)"
                    >
                    remove
                  </button>
                  </div>
                  
                </div>
                <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Custom pagination">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                    <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
                  </ngb-pagination>
              </div>
            </div>
          </div>
          
        </div>

      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Other
        </div>
        <div class="card-body">
          <button class="btn btn-outline-danger">Delete This Quiz</button>

          <!-- <p>
            <ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> This is a custom alert.</ngb-alert>
          </p> -->

          
        </div>
      </div>
    </div>
  </div>
</div>